{% extends "Area1/prof_base.html" %}
{% block content %}
		<div class="container" >
			<div class="card" id="cardbg">
				<div class="card-body">
					<div class="row">
						
						{% for data in pdata %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<img src="{{data.image}}" class="img-fluid">
										<h3 class="text-center">
											<a href="{% url 'Area1-prof-details' data.id  %}"><h5>{{data.name}}</h5></a>	
										</h3>
										
									</div>
									
								</div>
							</div>

						{% endfor %}	

					</div>
					
				</div>		
			</div>
			
		</div>


{% endblock %}


<!--<a href="{% url 'Area1-prof-details' data.id  %}"><h5>{{data.name}}</h5></a>-->